@font-face{
    src: url('Fonts/Jocker_Extrude_Right.ttf');
}

@font-face{
src: url("Fonts/Swistblnk_Moalang_Melintang.ttf");
}

#text{
 -fx-font-family: "Jocker Free Extrude Right";



 }

.lbl{
-fx-font-family: "Swistblnk Moalang Melintang" ;
-fx-font-weight: bold;
-fx-text-fill: "#111111";

}

.lbl .text{
-fx-stroke-width: 2px;
-fx-stroke: black;
}